:root {
    /*BreakPoints*/
    --mobile-breakpoint: 375px;
    --desktop-breakpoint: 1440px;
    /*Colors*/
    --blue-dark: hsl(233, 47%, 7%); /*Main BCKGD*/
    --blue-desaturated: hsl(244, 38%, 16%); /*Card BCKGD*/
    --violet-light: hsl(277, 64%, 61%); /*Accent*/
    /*Neutrals*/
    --white-main: hsl(0, 0%, 100%); /*Main H, Stats*/
    --white-transparent: hsla(0, 0%, 100%, 0.75); /*Main p and Stat H*/
    /*Border*/
    --border-radius: 1rem;
    /*Padding*/
    --padding-default: 1rem;
    --padding-lg: 2rem;
    /*Typography*/
    --font-family-primary: 'Inter', sans-serif;
    --font-family-secondary: 'Lexend Deca', sans-serif;
}

body
{
    margin: 0;
    padding:0;
    background-color: var(--blue-dark);
 
}

.container {
    padding: 5rem 1rem;
    margin: auto;
}


/*Typography*/

h1{
    font-family:var(--font-family-primary);
    color: var(--white-main);
    font-size: 1.8rem;
}

p{
    font-family:var(--font-family-primary);
    color: var(--white-transparent);
    line-height:1.5rem;
}

.numbers > p{
    text-transform: uppercase;
}

.purple{
    color:var(--violet-light);
}

/*Cards*/


.card {
    display: grid;
    grid-template-rows: auto auto;
    box-sizing: border-box;
    border-radius:1rem;
    padding-bottom:2rem;
    background-color: var(--blue-desaturated);

}

.card-content {
    padding:1rem 3rem;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}


.card-stats > p{
    text-transform:uppercase;
    margin-top: -1.5rem;
}

.card-img {
    background-repeat: no-repeat;
    background-position: center;
    height: 330px;
    background: rgb(170, 92, 219,0.4); /* fallback for old browsers */
    background: linear-gradient(rgb(170, 92, 219,0.4), rgb(170, 92, 219,0.4)), url(images/image-header-mobile.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(170, 92, 219,0.4), rgb(170, 92, 219,0.4)), url(images/image-header-mobile.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}



/*Buttons*/

.btn-primary {
    background-color: var(--gray-light);
    border: none;
    height: auto;
    max-width: 15rem;
    border-radius: 5rem;
    font-family: var(--font-family-secondary);
    mix-blend-mode: screen;
    font-weight: bold;
}


/*Footer*/


footer {
    display:block;
    margin: 3rem 0 1rem 0;
    font-size: 1.2rem;
    text-align: center;
    font-family: var(--font-family-primary);
}

    footer a {
        color: hsl(228, 45%, 44%);
    }




/*Desktop View*/

@media (min-width: 700px) {
        
    .container {
       max-width:var(--desktop-breakpoint);
       margin:auto;
       width:70%;
    }

    /*Cards*/

    .card {
        grid-template-areas: "card-content card-img";
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        padding:0;
    }

    .card-img {
        grid-area: card-img;
        background: linear-gradient(rgb(170, 92, 219,0.4), rgb(170, 92, 219,0.4)), url(images/image-header-desktop.jpg); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(rgb(170, 92, 219,0.4), rgb(170, 92, 219,0.4)), url(images/image-header-desktop.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size:cover;
        height: auto;
        border-radius: 0 1rem 1rem 0;
    }

    .card-content {
        grid-area: card-content;
        text-align:start;
        padding: 2rem 4rem;
    }

    .card-stats {
        display: inline-block;
        width: auto;
        padding: 0 1rem;
    }


    footer {
        position: absolute;
        bottom: 0%;
        width: 100%;
        height: 3rem;
    }

    .btn-primary {
        position: relative;
    }

    .btn-primary:hover {
        background-color: transparent;
        outline: 2px solid white;
        outline-offset: -2px;
        color: white;
    }

}